h1 {
  font-family: cursive;
}

body {
  margin: 0 0 0 0;
}

#landing-block-holder {
   width: 100%;
   background-color: white;
}

div#landing-block-holder div p {
  margin: 0 0 0 0;  
}

.landing-block {
  text-align: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

div#header {
  height: 550px;
  background-image: url("../images/header.png");
  background-position: center top;
}

div.menu {
    width: 1200px;
    display: inline-block;
    margin: 0 auto;
}

div.menu ul li{
   display: inline;
   margin-left:40px;
   margin-top:19px;
}

div.menu ul {
  margin-top: 0px;
  padding-top: 19px;
  padding-right: 10px;
  float: right;
}

div.menu ul a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size:13px;
  text-transform:uppercase; 
}

div.logo {
  float: left;
  display: inline-block;
  padding-top: 19px;
  padding-left: 10px;
}
div.big-text{
  padding-top: 100px;
  padding-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 55px;
  font-weight: bold;
  color: white;
  width: 1200px;
  margin: 0 auto;
}

p.small {
  font-family: sans-serif;
  font-size: 14px;
  color: white;
  text-transform: lowercase;
  font-weight: lighter;
  padding-top: 5px;
}

div.header-button-container {
  width: 1200px;
  margin: 0 auto;
}

.header-button {
   padding: 19px 55px;
   background-color: #e84545;
   font-family: sans-serif;
   text-transform: uppercase;
   font-size: 14px;
   color: white;
   text-decoration: none;
}

div#features {
  width: 1200px;
  height: 600px;
  overflow: hidden;
}

div#feature-container {
  width: 100%;
  margin-top: 100px;
}

div.feature-row {
  margin-bottom: 70px;
  display: inline-block;
}

div.feature-row-content {
  display: inline-block;
  width: 28%;
}

div.feature-row-content h2 {
  font-family: sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #2d3033;
}

div.feature-row-content p {
  font-family: sans-serif;
  font-size: 12px;
  color: #6c7279;
}

div#works {
  width: 100%;
}

div.work-container{
  width: 1900px;
  height: 702px;
}

.works-row {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.works-row li {
  float: left;
  width: 25%;
  height: 350px;
  text-align: center;
}

.work-link {
  display: block;
  position: relative;
  height: 100%;
  color: white;
  background: #e84545 no-repeat;
  background-size: cover;
  box-shadow: 0 0 0 1px white;
}

.work-overlay {
  height: 100%;
  width: 100%;
  background: rgba(232, 69, 69, .9);
  opacity: 0;
}

.work-overlay:hover {
  opacity: 1;
}

.work-content {
  position: absolute;
  top: 150px;
  width: 100%;
  font-family: sans-serif;
}

.work-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.work-content p {
  margin: 0;
}

.work-link.work-1 {
  background-image: url(../images/work-1.png);
}

.work-link.work-2 {
  background-image: url(../images/work-2.png);
}

.work-link.work-3 {
  background-image: url(../images/work-3.png);
}
.work-link.work-4 {
  background-image: url(../images/work-4.png);
}

.work-link.work-5 {
  background-image: url(../images/work-4.png);
}
.work-link.work-6 {
  background-image: url(../images/work-6.png);
}

.work-link.work-7 {
  background-image: url(../images/work-7.png);
}

.work-link.work-8 {
  background-image: url(../images/work-8.png);
}
#contacts {
  width: 100%;
  color: #ffffff;
  background-color: #3a3e64;
  display: block;
}
div.contacts-container {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  font-size: 0;
}

div.contacts-column {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  margin-top: 70px;
}

.contact-column-title {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.contacts-column p,
.contacts-column address {
  color: #ffffff;
  color: rgba(255, 255, 255, .5);
  font-style: normal;
  font-family: sans-serif;
}

.contacts-button li{
  display: inline;
  align-content: center;
}

.contacts-button{
  padding : 0 0;
}

.contacts-column p{
  color: rgba(255, 255, 255, .5)
  font-style: normal;
  font-size: 12pt;
}
#footer {
  padding: 22px 0 24px 0;
  text-align: center;
  color: #808080;
  background-color: #313454;
  font-family: sans-serif;
  text-decoration: none;
}

.footer-container {
  width: 100%;
  margin: 0 auto;
}

.footer-container a {
  color: white;
  text-decoration: none;
}
